@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 90%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 67% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45 65% 52%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 67% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 67% 50%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
